<h1>Google Cloud Vision Explorer</h1>

<p>Choose one of the following ML APIs to explore.</p>

<p>You will be able to upload an image, see the JSON the API returns for it, and see the code it would take to use the API.</p>

<ul>
  <li><a href="/vision/crop_hints">Crop hints detection</a></li>
  <li><a href="/vision/document_text">Document text detection</a></li>
  <li><a href="/vision/face">Face detection</a></li>
  <li><a href="/vision/image_properties">Image properties detection</a></li>
  <li><a href="/vision/label">Label detection</a></li>
  <li><a href="/vision/landmark">Landmark detection</a></li>
  <li><a href="/vision/logo">Logo detection</a></li>
  <li><a href="/vision/object_localization">Object localization detection</a></li>
  <li><a href="/vision/product_search">Product search detection</a></li>
  <li><a href="/vision/safe_search">Safe search detection</a></li>
  <li><a href="/vision/text">Text detection</a></li>
  <li><a href="/vision/web">Web detection</a></li>
</ul>

<p><a href="https://cloud.google.com/vision/docs/reference/rest/v1/AnnotateImageResponse" target="_blank">Official documentation</a> for <code>AnnotateImageResponse</code></p>